{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}

<h1> Change Password </h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div style = "position:relative; border:solid;
            background-color:gray"
            <p>{{msg}}</p>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/changepassword" method="POST">
<div style = "position:relative; right:60px">
    <body>Enter your old password </body> <br>
    <input type="password" name="password" placeholder="old Password"> 
    <br> <br>
</div>

<div style = "position:relative; right:35px"
    <body> Please enter your new password </body> <br>
</div>
    <input type="newpassword" name="newpassword" placeholder="new Password">
    <input type="submit" value="update password">
</form>



{% else %}
{% endif %}
{% endblock %}
